@keyframes active-button {
  0% {
    transform: translateX(10px);
  }
  84% {
    transform: translateX(10px);
  }
  88% {
    transform: translateX(15px);
  }
  92% {
    transform: translateX(10px);
  }
  96% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes shake {
  0% {
    rotate: 0;
  }
  20% {
    rotate: 5deg;
  }
  40% {
    rotate: -5deg;
  }
  60% {
    rotate: 5deg;
  }
  80% {
    rotate: -5deg;
  }
  100% {
    rotate: 0;
  }
}
@keyframes headerShowUp {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes logoShowUp {
  0% {
    margin-left: -400%;
  }
  100% {
    margin-left: 0;
  }
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #FEFEFA;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
* Elastic
*/
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 5%;
}

.section-heading {
  padding-top: 40px;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}
.section-heading::after {
  content: "";
  margin: 10px auto 30px;
  display: block;
  width: 100px;
  height: 2px;
  background-color: #4f4f4f;
}

.section-heading--bright {
  color: #fafafa;
}
.section-heading--bright::after {
  background-color: #fafafa;
}

.textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
  max-width: 1200px;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.textbox--bright {
  color: #fafafa;
}

.btn-special-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.blocks {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.error-text {
  display: flex;
  align-self: end;
  margin: 5px 0 auto 10px;
  font-size: 14px;
  visibility: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.page {
  font-family: "Montserrat", sans-serif;
  color: #4f4f4f;
  background-color: #fafafa;
}

.header .nav {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header .nav__list {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(220deg, #1b3a4b 0%, #312244 74%);
  list-style: none;
  transition: transform 0.5s;
  transform: translateX(100%);
}
.header .nav__list--active {
  transform: translatex(0);
}
.header .nav__item {
  padding: 25px;
  text-align: center;
}
.header .nav__item-logo {
  display: none;
}
.header .nav__link {
  padding: 20px;
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
}
.header .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  text-align: center;
}
.header .heading__logo-img {
  height: 40px;
  width: 40px;
  animation: logoShowUp 1.5s;
}
.header .heading .branding__name {
  font-size: 2rem;
  font-weight: 400;
  animation: headerShowUp 1.5s;
}
.header .heading .branding__name::after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 80%;
  background-color: #4f4f4f;
  animation: headerShowUp 1.5s;
}
.header .heading .branding__company {
  font-size: 1.8rem;
  font-weight: 400;
  animation: headerShowUp 1.5s;
}
.header .heading .hamburger {
  z-index: 100;
  animation: hamburgerShowUp 1.5s;
}

.main .banner {
  margin-top: 20px;
  transition: transform 0.5s;
}
.main .banner__image {
  width: 95%;
  border-radius: 50%;
}
.main .banner__textbox .textbox__profile {
  display: none;
}
.main .banner .social-media {
  align-self: end;
  margin: 0 20px 40px;
}
.main .banner .social-media__link {
  margin: 10px;
  padding: 10px;
  font-size: 2.5rem;
  color: #fafafa;
}
.main .banner__gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  background-image: linear-gradient(220deg, #1b3a4b 0%, #312244 74%);
  z-index: -10;
}
.main .banner--nav-active {
  transform: translateX(-100%);
}
.main .gradient {
  margin-top: -400px;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(220deg, #1b3a4b 0%, #312244 74%);
  z-index: -10;
}
.main .about-me {
  justify-content: space-between;
  transition: transform 0.5s;
}
.main .about-me__heading {
  transition: 1s;
}
.main .about-me__heading--active {
  padding-top: 25%;
}
.main .about-me__textbox {
  margin-bottom: 0;
}
.main .about-me__image {
  width: 100%;
}
.main .about-me__blocks {
  justify-content: space-evenly;
  height: 0;
  transition: 1s;
}
.main .about-me__blocks--active {
  height: 100%;
}
.main .about-me__block {
  width: 13%;
}
.main .about-me__block--block1 {
  background-color: #3e1f47;
  height: 11%;
}
.main .about-me__block--block2 {
  background-color: #272640;
  height: 7%;
}
.main .about-me__block--block3 {
  background-color: #1b3a4b;
  height: 5%;
}
.main .about-me__block--block4 {
  background-color: #0b525b;
  height: 6%;
}
.main .about-me__block--block5 {
  background-color: #006466;
  height: 4%;
}
.main .about-me__scroll-to-offer {
  margin: 40px;
  height: 40px;
  width: 100%;
  max-width: 400px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1rem;
  color: #fafafa;
  background-image: linear-gradient(220deg, #065a60 0%, #312244 74%);
  border: none;
  border-radius: 8px;
}
.main .about-me__scroll-to-offer--active {
  animation: shake 0.5s;
}
.main .about-me--nav-active {
  transform: translateX(-100%);
}
.main .offer {
  justify-content: center;
  background-image: linear-gradient(220deg, #1b3a4b 0%, #312244 74%);
  overflow: hidden;
}
.main .offer__image {
  margin-bottom: 30px;
  width: 100vw;
  height: 50px;
}
.main .offer__description-list {
  padding: 20px 20px 0;
  overflow: hidden;
}
.main .offer__description-item {
  padding: 20px;
  margin: auto;
  width: 80%;
}
.main .offer .textbox__text-title {
  text-transform: uppercase;
}
.main .offer__description-list--first {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.main .offer__description-item--first {
  display: block;
  font-family: "Roboto", sans-serif;
}
.main .offer__illustration {
  margin: 0 auto 40px;
}
.main .offer__illustration-image {
  width: 350px;
  border-radius: 10px;
  background-color: #fafafa;
}
.main .offer__description-list--second {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.main .offer__description-item--second {
  width: 300px;
  border-radius: 8px;
}
.main .reviews__textbox {
  display: inline-block;
}
.main .reviews__textbox .review-box {
  position: relative;
  margin: 40px 20px 20px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px #ccc;
}
.main .reviews__textbox .review-box__title {
  display: flex;
  justify-content: end;
}
.main .reviews__textbox .review-box__info {
  display: flex;
}
.main .reviews__textbox .review-box__text {
  padding: 10px;
}
.main .reviews .more-reviews::before {
  content: "";
  display: block;
  margin: 0 auto 40px;
  width: 100%;
  height: 1px;
  background-color: #4f4f4f;
}
.main .reviews .more-reviews__link {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: #4f4f4f;
  border: 2px solid #4f4f4f;
  border-radius: 8px;
}
.main .reviews .more-reviews__link .fa-brands {
  margin-right: 10px;
  font-size: 2rem;
}
.main .reviews .more-reviews__link:nth-child(2) {
  margin-bottom: 40px;
}
.main .reviews .more-reviews__link:nth-child(4) {
  margin-bottom: 0;
}
.main .reviews__blocks {
  justify-content: space-around;
  height: 0;
  z-index: -1;
  transition: 1s;
}
.main .reviews__blocks--active {
  height: 100%;
}
.main .reviews__block {
  width: 7%;
  background-color: grey;
}
.main .reviews__block--block1 {
  background-color: #272640;
  height: 15%;
}
.main .reviews__block--block2 {
  margin-right: 80px;
  background-color: #1b3a4b;
  height: 11%;
}
.main .reviews__block--block3 {
  margin-left: 80px;
  background-color: #0b525b;
  height: 14%;
}
.main .reviews__block--block4 {
  background-color: #006466;
  height: 9%;
}
.main .contact {
  position: relative;
  padding-bottom: 40px;
  background-image: linear-gradient(220deg, #1b3a4b 0%, #312244 74%);
}
.main .contact__form, .main .contact__form-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  text-align: left;
}
.main .contact__form-label {
  font-size: 1.4rem;
  margin: 15px 0;
  text-transform: uppercase;
}
.main .contact__form-input {
  padding: 10px 20px;
  max-width: 500px;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
}
.main .contact__form-textarea {
  padding: 10px 20px;
  max-width: 500px;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  width: 100%;
  min-height: 150px;
}
.main .contact__form-btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  color: #4f4f4f;
  background-color: #fafafa;
  cursor: pointer;
  transition: background-color 0.3s;
}
.main .contact__form-btn:hover {
  background-color: #e1e1e1;
}
.main .contact__popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 90%;
  max-width: 800px;
}
.main .contact .popup {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  color: #fafafa;
  background-image: linear-gradient(220deg, #1b3a4b 0%, #312244 74%);
  border-radius: 10px;
  box-shadow: 2px 2px 30px 10px #000;
  z-index: 1000;
}
.main .contact .popup--active {
  display: flex;
}
.main .contact .popup__title {
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: 2px;
}
.main .contact .popup__close-btn {
  position: absolute;
  bottom: 40px;
  right: 40px;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: scale 0.3s;
}
.main .contact .popup__close-btn:hover {
  scale: 1.2;
}
.main .contact .popup__icon {
  font-size: 3rem;
  color: #fafafa;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  padding: auto 10px;
  height: 40px;
  max-width: 1000px;
  text-align: center;
}
.footer__text {
  line-height: 40px;
  font-size: 1.4rem;
}
.footer__mail {
  color: #4f4f4f;
  text-decoration: none;
}
.footer__year {
  margin: auto 5px auto 0px;
}

@media (min-width: 576px) {
  .textbox {
    width: 90%;
  }
  .header .nav__item {
    padding: 15px;
  }
  .header .nav__link {
    font-size: 3rem;
  }
  .header .heading__logo-img {
    width: 60px;
    height: 60px;
  }
  .header .heading .branding__name {
    font-size: 2.5rem;
  }
  .header .heading .branding__company {
    font-size: 2.2rem;
  }
  .header .hamburger {
    scale: 1.3;
  }
  .main .banner {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .main .banner__image {
    align-self: start;
    width: 50%;
  }
  .main .banner__heading--landscape {
    padding-top: 0;
    color: #4f4f4f;
  }
  .main .banner__heading--landscape::after {
    content: "";
    background-color: #4f4f4f;
  }
  .main .banner__textbox {
    margin-bottom: 30%;
    width: 45%;
    color: #4f4f4f;
  }
  .main .banner .social-media {
    width: 45%;
    position: absolute;
    bottom: 5%;
    right: 0;
  }
  .main .banner .social-media__link {
    font-size: 3rem;
  }
  .main .gradient {
    margin-top: -150px;
    height: 150px;
  }
  .main .about-me__heading {
    padding-top: 15%;
  }
  .main .about-me__image {
    width: 70%;
  }
  .main .offer__description-list--second {
    flex-direction: row;
  }
  .main .offer__description-item--second {
    margin-top: 30px;
  }
  .main .reviews .more-reviews__link .fa-brands {
    font-size: 2.5rem;
  }
  .main .contact .popup__title {
    font-size: 2rem;
  }
  .main .contact .popup__icon {
    font-size: 4rem;
  }
}
@media (min-width: 768px) {
  .section-heading {
    font-size: 2.4rem;
  }
  .textbox {
    font-size: 1.6rem;
  }
  .header .nav__item {
    padding: 40px;
  }
  .header .heading__logo-img {
    width: 70px;
    height: 70px;
  }
  .header .heading .branding__name {
    font-size: 2.8rem;
  }
  .header .heading .branding__company {
    font-size: 2.4rem;
  }
  .main .banner__gradient {
    height: 35%;
  }
  .main .gradient {
    margin-top: -200px;
    height: 200px;
  }
  .main .about-me__scroll-to-offer {
    font-size: 1.4rem;
  }
  .main .offer__description-list--first {
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main .offer__description-list--first li {
    margin: 20px auto;
  }
  .main .offer__description-list--first li:nth-child(1) {
    order: 1;
  }
  .main .offer__description-list--first li:nth-child(2) {
    order: 2;
  }
  .main .offer__description-list--first li:nth-child(3) {
    order: 4;
  }
  .main .offer__description-list--first li:nth-child(4) {
    order: 3;
  }
  .main .offer__description-list--first li:nth-child(5) {
    order: 5;
  }
  .main .offer__description-list--first li:nth-child(6) {
    order: 6;
  }
  .main .offer__description-list--first li:nth-child(7) {
    order: 8;
  }
  .main .offer__description-list--first li:nth-child(8) {
    order: 7;
  }
  .main .offer__description-list--first li:nth-child(9) {
    order: 9;
  }
  .main .offer__description-list--first li:nth-child(10) {
    order: 10;
  }
  .main .offer__description-item--first {
    display: flex;
    align-items: center;
    flex-basis: 45%;
  }
  .main .offer__illustration {
    margin-bottom: 0;
    flex-basis: 45%;
    max-width: 500px;
  }
  .main .offer__illustration-image {
    width: 100%;
  }
  .main .offer__description-list--second {
    display: flex;
    flex-wrap: wrap;
  }
  .main .offer__description-item--second {
    flex-basis: 40%;
  }
  .main .offer__illustration {
    flex-basis: 40%;
  }
  .main .reviews .more-reviews__link {
    font-size: 1.6rem;
  }
  .main .contact__form-label {
    font-size: 1.6rem;
  }
  .main .contact__form-input {
    margin-bottom: 0px;
  }
  .main .contact__form-textarea {
    margin-bottom: 0px;
  }
  .main .contact__form-btn {
    font-size: 1.6rem;
  }
  .footer__text {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 80px;
  }
  .section {
    padding: 0;
  }
  .section-heading {
    font-size: 3rem;
  }
  .textbox {
    font-size: 1.8rem;
  }
  .header .nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fafafa;
    z-index: 100;
    box-shadow: 0px 1px 5px #4f4f4f;
  }
  .header .nav__list {
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1200px;
    background-image: none;
    transform: translateX(0);
  }
  .header .nav__item {
    position: relative;
    margin: 0 20px;
    text-align: center;
    overflow: hidden;
  }
  .header .nav__item:nth-child(2) {
    display: none;
  }
  .header .nav .item-logo {
    display: block;
  }
  .header .nav .item-logo__img {
    height: 50px;
    width: 50px;
    z-index: 1000;
    animation: none;
  }
  .header .nav__link {
    padding: 10px;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #4f4f4f;
    transition: 0.3s;
  }
  .header .nav__link:hover {
    color: #fafafa;
    background-color: #4f4f4f;
  }
  .header .heading__logo-img {
    display: none;
  }
  .header .heading .branding {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
  .header .heading .branding__name {
    font-size: 3.5rem;
  }
  .header .heading .branding__name::after {
    height: 2px;
    width: 80%;
  }
  .header .heading .branding__company {
    font-size: 3rem;
  }
  .header .heading .hamburger {
    display: none;
  }
  .main .banner {
    flex-direction: row;
    align-content: end;
    margin: 0 auto;
    padding-top: 160px;
    max-width: 1200px;
    min-height: 80vh;
  }
  .main .banner__image {
    width: 35%;
  }
  .main .banner__textbox {
    margin-bottom: 250px;
  }
  .main .banner__textbox .textbox__text {
    margin-top: 20px;
  }
  .main .banner .social-media__link {
    margin: 0 50px;
    font-size: 4rem;
  }
  .main .banner .social-media__link .fa-brands {
    transition: scale 0.3s;
  }
  .main .banner .social-media__link .fa-brands:hover {
    scale: 1.1;
  }
  .main .banner__gradient {
    height: 200px;
  }
  .main .about-me {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main .about-me__heading {
    flex-basis: 60%;
    padding-top: 150px;
    padding-right: 10%;
    width: 50%;
  }
  .main .about-me__heading--active {
    padding-top: 150px;
  }
  .main .about-me__textbox {
    order: 1;
    width: 50%;
    margin-bottom: 100px;
    padding: 10px;
    border-radius: 8px;
  }
  .main .about-me__image {
    padding-bottom: 200px;
    width: 50%;
  }
  .main .about-me__blocks {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
  }
  .main .about-me__scroll-to-offer {
    margin: 60px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  .main .about-me__scroll-to-offer:hover {
    letter-spacing: 2.5px;
  }
  .main .offer__textbox {
    margin: 60px 0;
  }
  .main .offer__description-list--second {
    display: flex;
    flex-wrap: wrap;
  }
  .main .offer__description-item--second {
    padding: 30px;
  }
  .main .reviews .review-box {
    margin: 100px 50px 20px;
    cursor: pointer;
    transition: scale 0.3s;
  }
  .main .reviews .review-box:hover {
    scale: 1.02;
  }
  .main .reviews .more-reviews__link {
    transition: color 0.3s, background-color 0.3s;
  }
  .main .reviews .more-reviews__link .fa-brands {
    margin-right: 15px;
  }
  .main .reviews .more-reviews__link:hover {
    color: #fafafa;
    background-color: #272640;
  }
  .main .reviews .more-reviews__link:nth-child(4) {
    margin-bottom: 40px;
  }
  .main .reviews__block {
    width: 5%;
  }
  .footer {
    height: 60px;
  }
  .footer__text {
    line-height: 60px;
  }
}/*# sourceMappingURL=main.css.map */