* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #4f4f4f;
  background-color: #fafafa;
}

.nav__mobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  transform: translateX(200%);
  background-image: linear-gradient(220deg, #1b3a4b 0%, #312244 74%);
  list-style: none;
  z-index: 10;
  transition: transform 0.3s;
}
.nav__mobile li {
  padding: 25px;
  text-align: center;
}
.nav__mobile li a {
  padding: 20px;
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
}
.nav__mobile--active {
  transform: translateX(0);
}

.nav__desktop {
  display: none;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
}
.header__heading {
  display: flex;
  justify-content: space-around;
  padding: 5%;
  width: 100%;
  text-align: center;
}
.header__heading--logo img {
  height: 50px;
  width: 50px;
}
.header__heading--branding .name {
  font-size: 2rem;
  font-weight: 400;
}
.header__heading--branding .name::after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 80%;
  background-color: #4f4f4f;
}
.header__heading--branding .company {
  font-size: 1.8rem;
  font-weight: 400;
}
.header__heading .hamburger {
  top: 20px;
  padding: 10px;
  z-index: 100;
}
.header__img {
  text-align: center;
  margin: 10% auto 5%;
}
.header__img img {
  width: 95%;
  border-radius: 50%;
}
.header__textbox {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fafafa;
  width: 100%;
}
.header__textbox--profile {
  display: none;
}
.header__textbox--title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.header__textbox--title::after {
  content: "";
  display: block;
  margin: 10px auto 20px;
  width: 100px;
  height: 2px;
  background-color: #fafafa;
}
.header__textbox--text {
  width: 85%;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.header__social-media {
  position: absolute;
  top: 80px;
  right: 26px;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}
.header__social-media a {
  padding: 10px;
  color: #4f4f4f;
}
.header__gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(220deg, #1b3a4b 0%, #312244 74%);
  z-index: -10;
}

main {
  height: 100vh;
}

@media (min-width: 576px) {
  .header__heading--name {
    font-size: 3rem;
  }
  .header__heading--underline {
    width: 280px;
  }
  .header__heading--company {
    font-size: 2.5rem;
  }
  .header__textbox--title {
    font-size: 2.5rem;
  }
  .header__textbox--text {
    font-size: 1.8rem;
  }
  .header__social-media {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .nav__desktop {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    list-style: none;
    line-height: 50px;
    background-color: #fafafa;
    z-index: 100;
  }
  .nav__desktop li {
    margin: 0 30px;
  }
  .nav__desktop li a {
    padding: 10px 25px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #4f4f4f;
    transition: color 0.3s, background-color 0.3s;
  }
  .nav__desktop li a:hover {
    color: #fafafa;
    background-color: #4f4f4f;
  }
  .nav__desktop::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 15%;
    right: 15%;
    height: 2px;
    background-color: #4f4f4f;
  }
  .header {
    height: 100vh;
    flex-wrap: wrap;
  }
  .header__heading {
    margin: 15vh 0 0;
    padding-left: 5%;
    width: 50%;
    height: 20%;
  }
  .header__heading--name {
    margin-bottom: 10px;
  }
  .header__heading--name::after {
    display: none;
  }
  .header__heading--company::after {
    content: "";
    display: block;
    margin: 5vh 5vw;
    width: 80vw;
    height: 1px;
    background-color: #4f4f4f;
    animation: lines-horizontal 1s;
  }
  .header__img {
    margin: 0;
    padding-left: 5%;
    width: 50%;
  }
  .header__img img {
    width: auto;
    height: 60vh;
  }
  .header__textbox {
    margin-top: 20vh;
    padding-right: 5%;
    width: 50%;
    color: #4f4f4f;
    background-image: none;
  }
  .header__textbox--profile {
    display: inline-block;
    font-size: 3rem;
    font-weight: 400;
  }
  .header__textbox--title {
    margin-top: 15%;
  }
  .header__textbox--title::after {
    background-color: #4f4f4f;
  }
  .header__textbox--text {
    font-size: 2rem;
    background-color: #fafafa;
    border-radius: 8px;
  }
  .header__textbox::after {
    content: "";
    position: absolute;
    bottom: 25%;
    left: 50%;
    height: 55%;
    width: 1px;
    background-color: #4f4f4f;
    animation: lines-vertical-dark 1s;
  }
  .header__textbox::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 25%;
    width: 1px;
    background-color: #fafafa;
    animation: lines-vertical-bright 1s;
  }
  .header__social-media {
    top: 83%;
    right: 5%;
    flex-direction: row;
    font-size: 4rem;
  }
  .header__social-media a {
    margin: auto 20px;
    color: #fafafa;
    transition: scale 0.3s;
  }
  .header__social-media a:hover {
    scale: 1.2;
  }
  .header__gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background-image: linear-gradient(220deg, #1b3a4b 0%, #312244 74%);
    z-index: -10;
  }
}
@keyframes showup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes lines-horizontal {
  from {
    left: -100%;
  }
  to {
    left: 50%;
  }
}
@keyframes lines-vertical-dark {
  from {
    top: -730px;
  }
  to {
    left: 50%;
  }
}
@keyframes lines-vertical-bright {
  from {
    bottom: -840px;
  }
  to {
    left: 50%;
  }
}/*# sourceMappingURL=main.css.map */