@keyframes showup {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes lines-horizontal {
	from {
		left: -100%;
	}
	to {
		left: 5%;
	}
}
@keyframes lines-vertical-dark {
	from {
		top: -100%;
	}
	to {
		top: 20%;
	}
}
@keyframes lines-vertical-bright {
	from {
		bottom: -100%;
	}
	to {
		bottom: 0;
	}
}
