@keyframes active-button {
	0% {
		transform: translateX(10px);
	}
	84% {
		transform: translateX(10px);
	}
	88% {
		transform: translateX(15px);
	}
	92% {
		transform: translateX(10px);
	}
	96% {
		transform: translateX(15px);
	}
	100% {
		transform: translateX(10px);
	}
}

@keyframes shake {
	0% {
		rotate: 0;
	}
	20% {
		rotate: 5deg;
	}
	40% {
		rotate: -5deg;
	}
	60% {
		rotate: 5deg;
	}
	80% {
		rotate: -5deg;
	}
	100% {
		rotate: 0;
	}
}

@keyframes headerShowUp {
	0% {
		margin-top: -100%;
	}
	100% {
		margin-top: 0;
	}
}
@keyframes logoShowUp {
	0% {
		margin-left: -400%;
	}
	100% {
		margin-left: 0;
	}
}
