$main-gradient: linear-gradient(220deg, #1b3a4b 0%, #312244 74%);
$secondary-gradient: linear-gradient(220deg, #065a60 0%, #312244 74%);
$secondary-color: #312244;
$main-dark: #4f4f4f;
$main-bright: #fafafa