@media (min-width: 992px) {
	html {
		scroll-padding-top: 60px;
	}
	.section {
		padding: 0;
	}
	.section-heading {
		font-size: 3rem;
	}

	// HEADER

	.header {
		height: 0;
		.nav {
			position: fixed;
			width: 100%;
			height: 60px;
			background-color: $main-bright;
			z-index: 100;
			box-shadow: 0px 1px 5px $main-dark;
			&__list {
				position: relative;
				flex-direction: row;
				justify-content: space-evenly;
				margin: 0 auto;
				max-width: 1000px;
				background-image: none;
				transform: translateX(0);
			}
			&__item {
				position: relative;
				margin: 0 20px;
				text-align: center;
				overflow: hidden;
				&:nth-child(2) {
					display: none;
				}
				&:hover {
					scale: 1;
				}
			}
			.item-logo {
				display: block;
				transition: scale 0.3s;
				&__img {
					height: 40px;
					width: 40px;
					z-index: 1000;
					animation: none;
				}
				&:hover {
					scale: 1.1;
				}
			}
			&__link {
				padding: 10px;
				font-size: 1.6rem;
				letter-spacing: 2px;
				text-transform: uppercase;
				color: $main-dark;
				transition: 0.3s;
				&:hover {
					color: $main-bright;
					background-color: $secondary-color;
				}
			}
		}
		.heading {
			&__logo-img {
				display: none;
			}

			.branding {
				position: absolute;
				top: 15vh;
				left: 50%;
				transform: translateX(-50%);
				&__name {
					font-size: 3.5rem;
				}
				&__name::after {
					height: 2px;
					width: 80%;
				}
				&__company {
					font-size: 3rem;
				}
			}
		}
		.hamburger {
			display: none;
		}
	}

	// MAIN

	.main {
		// BANNER

		.banner {
			flex-direction: row;
			align-content: end;
			margin: 0 auto;
			padding-top: 160px;
			max-width: 1000px;
			min-height: 100vh;
			&__image {
				margin-bottom: 5vh;
				width: 45vh;
				min-width: 35%;
			}

			&__textbox {
				margin-bottom: 35vh;
				.textbox__text {
					margin-top: 20px;
				}
			}
			.social-media {
				&__link {
					margin: 0 50px;
					font-size: 4rem;
				}
			}
			&__gradient {
				height: 200px;
			}
		}

		// ABOUTME

		.about-me {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			&__heading {
				flex-basis: 60%;
				padding-top: 40px;
				padding-right: 10%;
			}
			&__textbox {
				flex-basis: 50%;
				margin-bottom: 100px;
				padding: 20px;
				border-radius: 8px;
			}
			&__image {
				margin-bottom: 50px;
				margin-right: 10%;
				flex-basis: 35%;
				border-radius: 5px;
			}
			&__blocks {
				position: absolute;
				top: 0;
				right: 0;
				width: 50%;
			}
			&__scroll-to-offer {
				margin: 60px;
				height: 50px;
			}
		}

		// OFFER

		.offer {
			text-align: center;
			&__textbox {
				margin: 50px 0;
			}

			&__description-list--second {
				display: flex;
				flex-wrap: wrap;
			}

			&__description-item--second {
				padding: 40px 10px 20px;
				width: 30%;
			}
		}

		// REVIEWS

		.reviews {
			.review-box {
				margin: 100px 50px 20px;
			}
			.more-reviews {
				&__link {
					.fa-brands {
						margin-right: 15px;
					}

					&:nth-child(4) {
						margin-bottom: 40px;
					}
				}
			}
			&__block {
				width: 5%;
			}
		}
	}

	// FOOTER
}
