@media (min-width: 992px) {
	// NAV

	.nav {
		&__mobile {
			display: none;
		}
		&__desktop {
			position: fixed;
			left: 0;
			right: 0;
			height: 80px;
			display: flex;
			justify-content: center;
			list-style: none;
			line-height: 80px;
			background-color: $main-bright;
			border-bottom: 2px solid black;
			transition: 0.3s;
			z-index: 100;
			font-size: 1.5rem;
			li {
				margin: 0 30px;

				a {
					padding: 10px 25px;
					font-weight: bold;
					text-transform: uppercase;
					text-decoration: none;
					color: $main-dark;
					transition: color 0.3s, background-color 0.3s;
				}

				a:hover {
					color: $main-bright;
					background-color: $main-dark;
				}
			}
		}
	}

	// HEADER

	.header {
		height: 100vh;
		flex-wrap: wrap;
		&__heading {
			padding: 25vh 0 0;
			width: 50%;
			height: 25%;
			&--logo {
				position: fixed;
				top: 15px;
				left: 15px;
				z-index: 100;
				transition: 0.3s;
				img {
					width: 50px;
					height: 50px;
					transition: all 0.3s;
				}
				img:hover {
					margin-left: 10px;
					scale: 1.2;
				}
			}
			&--branding {
				width: 100%;
				.name {
					margin-bottom: 10px;
				}
				.name::after {
					display: none;
				}
				.company::after {
					content: '';
					position: absolute;
					display: block;
					margin: 10px 5%;
					width: 90%;
					height: 1px;
					background-color: $main-dark;
					animation: lines-horizontal 1s;
				}
			}
			.hamburger {
				display: none;
			}
		}

		&__img {
			margin: 0;
			padding-top: 70px;
			width: 50%;
			height: 75%;
			z-index: 10;
			img {
				width: auto;
				height: 90%;
			}
		}

		&__textbox {
			padding: 22vh 0 0 0;
			width: 50%;
			height: 75%;
			color: $main-dark;

			&--profile {
				display: inline-block;
				font-size: 3rem;
				font-weight: 400;
			}
			&--title {
				display: none;
			}
			// &--title::after {
			// 	background-color: $main-dark;
			// }

			&--text {
				margin-top: 18vh;
				font-size: 1.8rem;
				background-color: $main-bright;
				border-radius: 8px;
			}
		}

		&__textbox::after {
			content: '';
			position: absolute;
			bottom: 25%;
			left: 50%;
			height: 55%;
			width: 1px;
			background-color: $main-dark;
			animation: lines-vertical-dark 1s;
		}
		&__textbox::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			height: 25%;
			width: 1px;
			background-color: $main-bright;
			animation: lines-vertical-bright 1s;
		}

		&__social-media {
			position: absolute;
			display: flex;
			top: 83%;
			right: 5%;
			flex-direction: row;
			font-size: 4rem;
			a {
				margin: auto 20px;
				color: $main-bright;
				transition: scale 0.3s;
			}
			a:hover {
				scale: 1.2;
			}
		}

		&__gradient {
			height: 25%;
		}
	}

	// MAIN

	.main {
		.aboutme {
			height: 100vh;
			flex-direction: row;
			&__textbox {
				padding: 0;
				width: 50%;
				&--text {
					width: 70%;
				}
			}
			&__textbox::after {
				content: '';
				position: absolute;
				top: 0%;
				left: 50%;
				height: 100%;
				width: 1px;
				background-color: $main-dark;
			}
			&__img {
				align-self: end;
				padding-bottom: 15%;
			}
			&__img::after {
				content: '';
				position: absolute;
				left: 5%;
				right: 5%;
				display: block;
				height: 1px;
				background-color: $main-dark;
			}
			&__blocks {
				right: 0;
				width: 50%;
			}
		}
	}
}

// @media (min-width: 1200px) {

// }
