@media (min-width: 992px) {
	html {
		scroll-padding-top: 100px;
	}
	.section {
		padding: 0;
	}
	.section-heading {
		font-size: 3rem;
	}

	.textbox {
		font-size: 2rem;
	}

	.header {
		.nav {
			position: fixed;
			width: 100%;
			height: 100px;
			background-color: $main-bright;
			z-index: 100;
			// border-bottom: 1px solid $main-dark;
			box-shadow: 0px 1px 5px $main-dark;
			&__list {
				position: relative;
				flex-direction: row;
				justify-content: space-evenly;
				margin: 0 auto;
				max-width: 1200px;
				background-image: none;
				transform: translateX(0);
			}
			&__item {
				position: relative;
				margin: 0 20px;
				text-align: center;
				overflow: hidden;
				&:nth-child(2) {
					display: none;
				}
			}
			.item-logo  {
				display: block;
				&__img{
					height: 60px;
				width: 60px;
				z-index: 1000;
				animation: none;
				}
			}
			&__link {
				padding: 10px;
				font-size: 2rem;
				letter-spacing: 2px;
				text-transform: uppercase;
				color: $main-dark;
				transition: 0.3s;
				&:hover {
					color: $main-bright;
					background-color: $main-dark;
				}
			}

		}
		.heading {
			&__logo-img {
				display: none;
			}

			.branding {
				position: absolute;
				top: 150px;
				left: 50%;
				transform: translateX(-50%);
				&__name {
					font-size: 3.5rem;
				}
				&__name::after {
					height: 2px;
					width: 80%;
				}
				&__company {
					font-size: 3rem;
				}
			}
			.hamburger {
				display: none;
			}
		}
	}
	// MAIN

	.main {
		// BANNER

		.banner {
			flex-direction: row;
			max-width: 1200px;
			margin: 300px auto 0;
			&__image {
				width: 35%;
			}

			&__textbox {
				margin-bottom: 300px;
				.textbox__text {
					margin-top: 20px;
				}
			}
			.social-media {
				transform: translateX(0);
				&__link {
					margin: 0 50px;
					font-size: 5rem;
					.fa-brands {
						transition: scale 0.3s;
						&:hover {
							scale: 1.3;
						}
					}
				}
			}
			&__gradient {
				height: 200px;
			}
		}

		// ABOUTME

		.about-me {
			flex-direction: row;
			flex-wrap: wrap;

			&__heading {
				flex-basis: 60%;
				padding-top: 150px;
				padding-right: 10%;
				width: 50%;
				&--active {
					padding-top: 150px;
				}
			}
			&__textbox {
				order: 1;
				width: 50%;
				margin-bottom: 100px;
				padding: 10px;
				border-radius: 8px;
			}
			&__image {
				padding-bottom: 200px;
				width: 50%;
			}
			&__blocks {
				position: absolute;
				top: 0;
				left: 0;
				width: 50%;
			}
			&__scroll-to-offer {
				margin: 60px;
				height: 50px;
				font-size: 1.6rem;
				cursor: pointer;
				transition: 0.3s;

				&:hover {
					letter-spacing: 2.5px;
				}
			}
		}

		// OFFER

		.offer {
			flex-direction: row;
			flex-wrap: wrap;
			&__heading {
				width: 100%;
			}
			&__textbox {
				width: 40%;
				margin: 100px 0;
			}
			&__image {
				width: 30%;
				max-width: 400px;
			}			
			.textbox__text-title {
				margin-top: -100px;
			}
			&__description-list--styling {
				display: flex;
				flex-wrap: wrap;
				width: 1000px;
			}
			&__description-item--styling {
				width: 40%;
			}
		}

		// REVIEWS

		.reviews {
			.review-box {
				margin: 100px 200px 100px;
				cursor: pointer;
				transition: scale 0.3s;
				&:hover {
					scale: 1.1;
				}
			}
			.more-reviews {
				&__link {
					transition: color 0.3s, background-color 0.3s;
					.fa-brands {
						margin-right: 15px;
					}
					&:hover {
						color: $main-bright;
						background-color: #272640;
					}
					&:nth-child(4) {
						margin-bottom: 40px;
					}
				}
			}
			&__block {
				width: 5%;
			}
		}
	}

	// FOOTER

	.footer {
		&__text {
			line-height: 80px;
			font-size: 2rem;
		}
	}
}

// @media (min-width: 1200px) {

// }
