@media (min-width: 768px) {

// HEADER

	.header {
		&__heading {
			&--branding {
				.name {
					font-size: 2.8rem;
				}

				.company {
					font-size: 2.5rem;
				}
			}
		}
		&__textbox {
			&--title {
				font-size: 2.5rem;
			}
		}
	}

// MAIN
.main{
	.aboutme {
		&__textbox {
			&--title {
				font-size: 2.5rem;
			}
		}
	}}
}