@media (min-width: 768px) {
	.section-heading {
		font-size: 2.4rem;
	}
	.textbox {
		font-size: 1.6rem;
	}

	// HEADER
	.header {
		.nav {
			&__item {
				padding: 40px;
			}
		}
		.heading {
			&__logo-img {
				width: 70px;
				height: 70px;
			}
			.branding {
				&__name {
					font-size: 2.8rem;
				}
				&__company {
					font-size: 2.4rem;
				}
			}
		}
	}

	// MAIN
	.main {
		// BANNER
		.banner {
			&__gradient {
				height: 35%;
			}
		}
		.gradient {
			margin-top: -200px;
			height: 200px;
		}
		.social-media {
			margin-bottom: 1000px;
		}

		// ABOUT ME
		.about-me {
			&__scroll-to-offer {
				font-size: 1.4rem;
			}
		}

		// OFFER
		.offer {
						&__description-list--first {
				margin-top: 50px;
				flex-direction: row;
				flex-wrap: wrap;
				& li {
					margin: 20px auto;
				}
				& li:nth-child(1) {
					order: 1;
				}
				& li:nth-child(2) {
					order: 2;
				}
				& li:nth-child(3) {
					order: 4;
				}
				& li:nth-child(4) {
					order: 3;
				}
				& li:nth-child(5) {
					order: 5;
				}
				& li:nth-child(6) {
					order: 6;
				}
				& li:nth-child(7) {
					order: 8;
				}
				& li:nth-child(8) {
					order: 7;
				}
				& li:nth-child(9) {
					order: 9;
				}
				& li:nth-child(10) {
					order: 10;
				}
			}

		
			&__description-item--first {
				display: flex;
				align-items: center;
				flex-basis: 45%;
			}
			
			&__illustration {
				margin-bottom: 0;
				flex-basis: 45%;
				max-width: 500px;
			}
			&__illustration-image {
				width: 100%;
			}

			&__description-list--second {
				flex-direction: row;
				flex-wrap: wrap;
			}
			&__description-item--second {
				width: 45%;				
			}

		}

		// REVIEWS
		.reviews {
			.more-reviews {
				&__link {
					font-size: 1.6rem;
				}
			}
		}

		// CONTACT
		.contact {
			&__form-label {
				font-size: 1.6rem;
			}
			&__form-input{
				margin-bottom: 0px;
			}
			&__form-textarea{
				margin-bottom: 0px;
			}
			&__form-btn {
				font-size: 1.6rem;
			}
		}
	}

	// FOOTER
	.footer {
		&__text {
			font-size: 1.6rem;
		}
	}
}
