@media (min-width: 768px) {
	.header {
		// min-height: 100vh;
		&__heading {
			&--branding {
				.name {
					font-size: 2.8rem;
				}

				.company {
					font-size: 2.5rem;
				}
			}
		}
		&__textbox {
			&--title {
				font-size: 2.5rem;
			}
		}
	}
	.aboutme {
		&__textbox {
			&--title {
				font-size: 2.5rem;
			}
		}
	}
}