@mixin title-underline {
	content: '';
	display: block;
	margin: 10px auto 20px;
	width: 100px;
	height: 2px;
}

@mixin contact-form {
	margin-bottom: 18px;
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	font-size: 1.6rem;
}

