@media (orientation: landscape) {

// HEADER

	.nav {
		&__mobile {
			li {
				padding: 10px;
			}
		}
	}
	.header {
		flex-wrap: wrap;
		height: 100vh;
		&__heading {
			padding-top: 3%;
		}
		&__img {
			position: absolute;
			top: 30%;
			left: 0;
			width: 50%;
		}
		&__textbox {
			position: absolute;
            top: 40%;
			right: 0;
			width: 50%;
		}
		&__gradient {
			height: 65%;
		}
	}
}

@media (min-width: 576px) {

// HEADER

	.header {
		&__heading {
			&--logo {
				img {
					width: 60px;
					height: 60px;
				}
			}
			&--branding {
				.name {
					font-size: 2.5rem;
					font-weight: 400;
				}
				.company {
					font-size: 2.2rem;
				}
			}
			.hamburger {
				scale: 1.3;
			}
		}
		&__img {
			img {
				width: 80%;
			}
		}
		&__textbox {
			&--title {
				font-size: 2.2rem;
			}

			&--text {
				width: 85%;
				font-size: 1.8rem;
			}
		}
	}

// MAIN

	main {
		.aboutme {
			&__textbox {
				padding-top: 20%;
                &--title {
                    font-size: 2.2rem;
                }
    
                &--text {
                    width: 85%;
                    font-size: 1.8rem;
                }
			}
			&__blocks {
				&--block {
					width: 10%;
				}
			}
		}
	}
}
