@use './colors' as *;
@use './animations' as *;
@use './mixins' as *;
// @use './small' as *;
// @use './medium' as *;
// @use './large' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: $main-dark;
	background-color: $main-bright;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.title {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
}

// NAV
.nav {
	&__mobile {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-image: $main-gradient;
		transform: translateX(100%);
		list-style: none;
		z-index: 10;
		transition: transform 0.3s;
		li {
			padding: 25px;
			text-align: center;
			a {
				padding: 20px;
				font-size: 2.5rem;
				color: white;
				text-decoration: none;
			}
		}

		&--active {
			transform: translateX(0);
		}
	}

	&__desktop {
		display: none;
	}
}
// HEADER

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;

	&__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5%;
		width: 100%;
		text-align: center;

		&--logo {
			img {
				height: 40px;
				width: 40px;
			}
		}
		&--branding {
			.name {
				font-size: 2rem;
				font-weight: 400;
			}
			.name::after {
				content: '';
				display: block;
				margin: auto;
				height: 1px;
				width: 80%;
				background-color: $main-dark;
			}
			.company {
				font-size: 1.8rem;
				font-weight: 400;
			}
		}

		.hamburger {
			z-index: 100;
		}
	}
	&__img {
		text-align: center;
		margin-bottom: 5%;

		img {
			width: 85%;
			border-radius: 50%;
		}
	}

	&__textbox {
		@include textbox;
		margin-bottom: 5%;
		color: $main-bright;

		&--profile {
			display: none;
		}

		&--title::after {
			@include title-underline;
			background-color: $main-bright;
		}

		&--text {
			width: 85%;
		}
	}

	&__social-media {
		display: none;
	}
	&__gradient {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 50%;
		background-image: $main-gradient;
		z-index: -10;
	}
}

// MAIN

.main {
	.aboutme {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		&__textbox {
			padding-top: 25%;
			@include textbox;
			&--title::after {
				@include title-underline;
				background-color: $main-dark;
			}
			&--text {
				width: 85%;
				font-size: 1.4rem;
			}
		}
		&__img {
			img {
				width: 100%;
			}
		}
		&__blocks {
			position: absolute;
			display: flex;
			justify-content: space-evenly;
			height: 100%;
			width: 100%;
			&--block {
				width: 13%;
				background-color: grey;
			}
			.block1 {
				background-color: #3e1f47;
				height: 15%;
			}
			.block2 {
				background-color: #272640;
				height: 12%;
			}
			.block3 {
				background-color: #1b3a4b;
				height: 8%;
			}
			.block4 {
				background-color: #0b525b;
				height: 11%;
			}
			.block5 {
				background-color: #006466;
				height: 6%;
			}
		}
	}

	.offer {
		// position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: $main-bright;
		width: 100%;
		background-image: $secondary-gradient;
		&__textbox {
			padding: 10% 0;
			@include textbox;
			&--title::after {
				@include title-underline;
				background-color: $main-bright;
			}
			&--text {
				width: 85%;
			}
			&--text:last-child {
				order: 0;
			}
		}

		&__img {
			width: 100%;
			img {
				width: 50%;
				border-radius: 40%;
			}
		}
		&__about-analysis {
			position: absolute;
			left: -60px;
			background-color: transparent;
			color: $main-bright;
			font-size: 1.8rem;
			text-transform: uppercase;
			letter-spacing: 2px;
			border: none;
			rotate: 270deg;
			animation: active-button 3s infinite;
		}
	}
}

@import './small';
@import './medium';
@import './large';
