@use './colors' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: $main-dark;
	background-color: $main-bright;
}

// .wrapper {
// 	margin: 0 auto;
// 	width: 100%;
// 	max-width: 1200px;
// }

// NAV MOBILE

// .hamburger {
// 	position: fixed;
// 	top: 30px;
// 	right: 20px;
// 	padding: 10px;
// 	z-index: 100;
// }

.nav__mobile {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	transform: translateX(200%);
	background-image: $main-gradient;
	list-style: none;
	z-index: 10;
	transition: transform 0.3s;
	li {
		padding: 25px;
		text-align: center;
		a {
			padding: 20px;
			font-size: 2.5rem;
			color: white;
			text-decoration: none;
		}
	}

	&--active {
		transform: translateX(0);
	}
}

// NAV DESKTOP

.nav__desktop {
	display: none;
}

// HEADER

.header {
	position: relative;
	display: flex;
	flex-direction: column;

	&__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5%;
		width: 100%;
		text-align: center;

		&--logo {
			img {
				height: 40px;
				width: 40px;
			}
		}

		&--branding {
			.name {
				font-size: 2rem;
				font-weight: 400;
			}
			.name::after {
				content: '';
				display: block;
				margin: auto;
				height: 1px;
				width: 80%;
				background-color: $main-dark;
			}
			.company {
				font-size: 1.8rem;
				font-weight: 400;
			}
		}

		.hamburger {
			z-index: 100;
		}
	}
	&__img {
		text-align: center;
		margin-bottom:5%;
		
		img {
			width: 85%;
			border-radius: 50%;
		}
	}

	&__textbox {
		margin-bottom: 5%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: $main-bright;
		width: 100%;

		&--profile {
			display: none;
		}
		&--title {
			font-size: 2rem;
			font-weight: bold;
			text-transform: uppercase;
		}
		&--title::after {
			content: '';
			display: block;
			margin: 10px auto 20px;
			width: 100px;
			height: 2px;
			background-color: $main-bright;
		}

		&--text {
			width: 85%;
			font-size: 1.2rem;
			letter-spacing: 1px;
		}
	}

	&__social-media {
		display: none;
	}
	&__gradient {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 50%;
		background-image: $main-gradient;
		z-index: -10;
	}
}

// MAIN
main {
	height: 100vh;
}

// MEDIA
// Small
@media (min-width: 576px) {
	.header {
		&__heading {	
			&--logo {
				img {
					height: 60px;
					width: 60px;
				}
			}
	
			&--branding {
				.name {
					font-size: 2.5rem;
					font-weight: 400;
				}
				
				.company {
					font-size: 2.2rem;
				}
			}
	
			.hamburger {
				scale: 1.3;
			}
		}
		&__img {
			
			img {
				width: 80%;
			}
		}
		&__textbox {
			
	
			&--title {
				font-size: 2.2rem;
			}
				
			&--text {
				width: 85%;
				font-size: 1.6rem;
			}
		}
	}
}

// MEDIUM
@media (min-width: 768px) {
	.header {
		&__heading {	
			
			&--branding {
				.name {
					font-size: 2.8rem;
				}
				
				.company {
					font-size: 2.5rem;
				}
			}
			}
		&__img {
			margin-top: 5%;
		}
		&__textbox {
			
	
			&--title {
				font-size: 2.5rem;
			}
				
			&--text {
				width: 85%;
				font-size: 1.8rem;
			}
		}
	}
}

@media (min-width: 992px) {
	
	.nav {
		&__desktop {
			position: fixed;
			width: 100%;
			height: 80px;
			display: flex;
			justify-content: center;
			list-style: none;
			line-height: 80px;
			background-color: $main-bright;
			z-index: 100;
			border-bottom: 2px solid black;
			li {
				margin: 0 30px;

				a {
					padding: 10px 25px;
					font-size: 1.5rem;
					font-weight: bold;
					text-transform: uppercase;
					text-decoration: none;
					color: $main-dark;
					transition: color 0.3s, background-color 0.3s;
				}

				a:hover {
					color: $main-bright;
					background-color: $main-dark;
				}
			}
		}
		// &__desktop::after {
		// 	content: '';
		// 	position: absolute;
		// 	top: 50px;
		// 	left: 15%;
		// 	right: 15%;
		// 	height: 2px;
		// 	background-color: $main-dark;
		// }
	}
	.header {
		height: 100vh;
		flex-wrap: wrap;
		&__heading {
			margin: 18vh 0 0;
			padding-left: 5%;
			width: 50%;
			height: 20%;
			&--logo {
				position: fixed;
				top: 15px;
				left: 15px;
				z-index: 100;
				img {
					width: 50px;
					height: 50px;
					transition: all .3s;
				}
				img:hover {
					margin-left: 10px;
					scale: 1.2;
				}
			}
			&--branding{
				width: 100%;
				.name {
					margin-bottom: 10px;
				}
				.name::after {
					display: none;
				}
				.company::after {
					content: '';
					display: block;
					margin: 5vh 5vw;
					width: 80vw;
					height: 1px;
					background-color: $main-dark;
					animation: lines-horizontal 1s;
				}
			}
			.hamburger {
				display: none;
			}
		}

		&__img {
			margin: 0;
			padding-left: 5%;
			width: 50%;
			img {
				width: auto;
				height: 60vh;
			}
		}

		&__textbox {
			margin-top: 20vh;
			padding-right: 5%;
			width: 50%;
			color: $main-dark;
			background-image: none;

			&--profile {
				display: inline-block;
				font-size: 3rem;
				font-weight: 400;
			}
			&--title {
				margin-top: 15%;
			}
			&--title::after {
				background-color: $main-dark;
			}

			&--text {
				font-size: 2rem;
				background-color: $main-bright;
				border-radius: 8px;
			}
		}

		&__textbox::after {
			content: '';
			position: absolute;
			bottom: 25%;
			left: 50%;
			height: 55%;
			width: 1px;
			background-color: $main-dark;
			animation: lines-vertical-dark 1s;
		}
		&__textbox::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			height: 25%;
			width: 1px;
			background-color: $main-bright;
			animation: lines-vertical-bright 1s;
		}

		&__social-media {
			position: absolute;
			display: flex;
			top: 83%;
			right: 5%;
			flex-direction: row;
			font-size: 4rem;
			a {
				margin: auto 20px;
				color: $main-bright;
				transition: scale 0.3s;
			}
			a:hover {
				scale: 1.2;
			}
		}

		&__gradient {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 25%;
			background-image: $main-gradient;
			z-index: -10;
		}
	}
}

// @media (min-width: 1200px) {

// }

// ANIMATIONS
@keyframes showup {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes lines-horizontal {
	from {
		left: -100%;
	}
	to {
		left: 50%;
	}
}
@keyframes lines-vertical-dark {
	from {
		top: -100%;
	}
	to {
		top: 20%;
	}
}
@keyframes lines-vertical-bright {
	from {
		bottom: -100%;
	}
	to {
		bottom: 0;
	}
}
