@use './colors' as *;
@use './animations' as *;
@use './mixins' as *;
// @use './components' as *;
@import './components';

// @use './small' as *;
// @use './medium' as *;
// @use './large' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: $main-bright;
}

// EMAIL SENT

.email-sent {
	height: 100vh;
	width: 100vw;
	background-image: $main-gradient;
	background-size: cover;
	&__popup {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 400px;
		width: 500px;
		border-radius: 10px;
		box-shadow: 0px 0px 10px 10px rgba($color: $main-bright, $alpha: 0.3);
	}
    &__text-container {
		height: 100%;
		width: 100%;
		display: flex;
        flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
	}
    
}

